*{
letter-spacing: 0px;
}
.red {
  color: red;
}
.radioBtn {
  padding: 10px;
  width: auto;
}
input {
  width: 80%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
}
.allContainer {
  border-top: 10px purple solid;
  border-bottom: 15px purple solid;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 10px;
}
header {
  padding: 20px 10px;
  border: 1px solid rgb(185, 185, 185);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px purple;
  border-radius: 3px;
}
header > h1 {
  font-weight: 500;
  margin-bottom: 10px;
}
form {
  padding-top: 20px;
  background-color: white;
  width: 100%;
}
h3 {
  padding: 10px;
  font-weight: 400;
}
form > .commonRadioDiv {
  padding: 10px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3px;
  margin-bottom: 20px;
}
form > .commonRadioDiv > div {
  padding: 8px;
}
/*  */
form > .div2 {
  padding: 10px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3px;
  margin: 20px 0;
}
form > .div2 > .AnimatedInput > input {
  text-transform: capitalize;
}
form > .div2 > input:focus {
  box-shadow: 0 0 5px purple;
}
/*  */
form > .commonInput {
  padding: 10px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3px;
  margin-bottom: 20px;
}
form > .commonInput > input {
  margin-top: 10px;
  padding: 12px 8px;
  border: 1px solid rgb(210, 210, 210);
  border-bottom: 2px solid purple;
  border-radius: 5px;
  font-size: large;
  outline: none;
}
form > .commonInput > input:focus {
  box-shadow: 0 0 5px purple;
}
/*  */
.btns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
}
/*  */
/*  */
@media screen and (min-width: 600px) {
  form {
    width: 500px;
  }
}
